* {
    box-sizing: border-box;
}

body {
    background-color: white;
    color: peachpuff;
    font-family: 'Lobster', sans-serif;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    transition:all 1s linear; 
    -o-transition:all 1s linear; 
    -moz-transition:all 1s linear; 
    -webkit-transition:all 1s linear;
    width: 100%;
}

.center {
    width: 100%;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(0,0,0, .7);
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    top: 35%;
    left: 25%;
    transition: 1s;
    z-index: 3;

}

h1 {
    border-bottom: dashed 5px white;
    padding-bottom: 20px;
    width: 100%;
    font-size: 3em;
}

/* p {
    font-size: 1.5em;

}

*/

.container:hover {
    color: dodgerblue;
    border-bottom-color: red;
    transition: 1s;
}

img {
    width: 100%;
}

#slide_1 {
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    background-image: url('../img/blue_record_player.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#slide_2 {
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    background-image: url('../img/steering_wheel.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.box2 {
  display: inline-block;
  width: 90%;
  height: 100px;
  margin: 1em;
  padding: 5px;
  color: azure;
  background-color: cornflowerblue;
  -webkit-transition:all 0.3s linear;


}

@media screen and (min-width:500px) { 
    .container { 
        width: 45%;
        top: 35%;
        left: 50%;
        transform: translate(-50%, 0);

}
    .box2 {
        width: 40%;

    }
}

@media screen and (min-width:1000px) { 
    .container { 
        width: 20%;
        top: 35%;
        left: 50%;
        transform: translate(-50%, 0);

}
        .box2 {
    width: 20%;

        }
}